/*  493 lines*/
/*284*/
/*275*/
/*  stat main Roulez*/
body{height:  2000px;}
.container{width: 1000px; margin: auto;}
.clearfix{clear:both;}
/*  End main Roulez*/

/* start head*/
.head .slider{
    height: 400px;
    background-image: url("images/01.jpg" );
   background-repeat: no-repeat;
   background-size: cover;  
   height: 600px    
}
.head .slider .intro{
    height: 600px;
    text-align: center;
    color: #FFF;
    padding-top: 40%;
}
.head .slider .intro h1{
    margin:  auto;
    width: 400px;
    height:50px ;
    border-bottom: 5px solid white;
    border-top: 5px solid white;
    padding: 5px 0;
    text-transform: uppercase;
}
.head .slider .intro button{
    width: 200px;
    height: 50px;
    border: 2px solid white;
    background-color: #777;
    color: white;
    margin-top: 10px;
    cursor: pointer;    
}
.head .nav{
    background-color: #252F31;
    color: white;    
    overflow: hidden;
    text-transform: uppercase;
}
.head .nav h2{ font-size: 30px;  color: #FFF; }
.head .nav h2 span{  color: green;}
.head .nav ul{
overflow: hidden;
padding-left: 0;
float: right;
list-style: none;
padding-top: 20px;
}
.head .nav ul li{ padding-left: 20px;}
.head .nav ul li a{ color: #FFF; text-decoration: none;  }
.head .nav ul li.active a,
.head .nav ul li a:hover{   color: #4BD385;}
/* End head*/

/* start the hobbes*/
.hobbes{  padding: 50px 0px 60px ;   overflow: hidden;}

.hobbes .part{ width: 30.333%; height: 150px; padding-right: 20px;  } 
.hobbes .part h2{  text-transform: uppercase;}
/* end the hobbes*/

/*start about me*/
.about{  background-color: #F2F2F2;  overflow: hidden;}
.about .img{  width: 40%;  }
.about .img img { width: 100%;}
.about .text{  width: 60%; }
.about .text h2{
    padding:0px 0px 5px 40px;
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 30px;
    margin-bottom:-2px ;
}
.about .text > p{ padding:0px 0px 5px 40px; margin-top: -10; }
.about .text > p:last-of-type {  padding:0px 0px 0px 40px; margin-bottom: 10px; line-height: 1.6;}
.about .text .o{
  overflow: hidden;
  padding-left: 40px ;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 20px;
} 
.about .text .o > div{ float: left;  width: 50%; height: 100px;}
.about .text .o > div h3{ margin-bottom: 10px; font-weight: bold;  }
.about .text .o > div p{  margin-top: 2px;  }
.about .text .o .contain{ overflow: hidden;}
.about .text .o .contain .icon{ width: 20%; margin-top: 35px;}
.about .text .o .contain .icon img{  width: 70%;}
.about .text .o .contain .text{ width: 75%;  margin-left: 5px;}
.about .text .o .contain .text p{  padding-left: 0; padding-right: 4px;}
/*end about me*/

/*start my skills*/
.my-skills{  padding: 70px 0px;  overflow: hidden;}
.my-skills .skill ,.my-skills .progress { width: 45%;float: left; margin: 0px 25px ;}
.my-skills .skill h2{    
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 30px;
    padding-top: 0;
    margin-top: 0;
}
.my-skills .skill > p{ margin-top: -10;}
.my-skills .skill > p:last-of-type {  margin-bottom: 30px;}
.my-skills .progress .digram h3{ margin-bottom: 8px; padding-left: 5px;}

.my-skills .progress .digram div{
    background-color: #F2F2F2;
    width: 500px;
    height: 25px;
    border-radius: 30px;
    margin-bottom: 40px;
}
.my-skills .progress .digram div span{
    background-color: #2DCC70;
    display: block;
    color: #FFF;font-weight: bolder;
    text-align: center;
    font-size: 20px;
    border-radius: 30px;   
}
/*end my skills*/


/* start resume*/
.resume{
    margin-top: 20px;
    padding: 60px 0px 70px;
    background-color: #F2F2F2;
    text-align: center;
}
.resume h2{ padding-top: 0; margin-top: 0; text-transform: uppercase;}

/* end resume*/

/*start my Education*/
.my-Education{ padding: 20px 0px;  overflow: hidden;}
.my-Education .Education ,.my-Education .Exp { width: 50%; float: left;  padding-top: 50px;}
.my-Education .Education h2{ text-transform: uppercase;}
.my-Education .Exp > div{ margin: 60px 0px 40px;}
.my-Education .Exp h3{  margin-bottom: 0; text-transform: uppercase;  }
.my-Education .Exp p{       margin: 5px;}
.my-Education .Exp p:last-of-type{    margin-top: 15px;}
.my-Education .Exp span{
    background-color:#2DCC70 ;
    color: #FFF;
    width: 70px;
    height: 25px;
    font-size:15px;
    text-align:center;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    display:inline-block;
    margin-top: 10px;
    font-weight: bolder;
    padding-top: 10px;
}
/*end my Education*/


/* start testimonials*/
.testimonials{
    margin-top: 20px;
    padding: 70px;
    background-color: #DDD;
    text-align: center;
}
.testimonials p{  margin-bottom: 50px;  font-size: 20px;}
.testimonials h3{ font-size: 30px;  padding-left: 40px;}
.testimonials ul{   list-style: none;}
.testimonials ul li{ 
    margin: 1px;
    display: inline-block;
    background-color: none;
    border: 2px solid #2DCC70;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}
.testimonials ul li:hover,
.testimonials ul li.active{ background-color: #2DCC70;  cursor: pointer;}
/* end testimonials*/

/*start the portfolio*/
.portfolio {  padding-top: 70px; overflow: hidden; text-align: center;}
.portfolio h2{ text-transform: uppercase;}

.portfolio .img > div{ float: left; width: 33.33%;}
.portfolio .img > div img{
    width: 95%;
    margin: 10px;
    height: 200px;
    box-shadow: 10px 10px 5px #2DCC70;
}
/*end the portfolio*/


/*start contact me*/
.contact{ padding-top: 60px; overflow: hidden; background-color: #222C2E; }
.contact .text h2{
    color: #DCDEE0;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}
.contact .text p span{ color: #FFF; font-weight: bolder;}
.contact .text { padding-left: 20px; margin-right: 30px; width: 45%; overflow: hidden;}
.contact .form{
     width: 45%;
    overflow: hidden;
    padding-left: 30px;
}
.contact .form{ padding-top: 40px;}
.contact .form label{ color: #888; font-weight: bolder;}
.contact .form input{
    display: block;
    width: 600px;
    height: 40px;
    background-color: #555;
    margin: 20px 0 40px 0;
    border: none;
    outline: none;
}
.contact .form input.big{ height: 200px;}
.contact .form button{
    background-color:rgb(18, 27, 29) ;
    border: none;
    width: 200px;
    height: 50px;
    color: #FFF;
    font-weight: bolder;
    font-size: 19px;
    margin-bottom: 80px;
}

/*end contact me*/

/*start footer*/
.footer{
    background-color: rgb(18, 27, 29);
    padding: 30px 0 10px ;
    text-align: center;
    overflow: hidden;
    margin-bottom: 0;
}
.footer h2{ float: right; width: 50%;}
.footer ul{ margin-left: 150px;}
.footer ul li { display: inline;  margin-right: 8px;  cursor: pointer;  } 
/* end footer*/


/* start framwork*/
.button{
    height: 50px;
    width: 150px;
    background-color: non;
    color: #4BD385;
    border: 2px solid #4BD385;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}
p{  line-height: 1.6;  color: #777;}
h2{  color: #555;}
h3{  color: #777;}
.lef-flot{ float: left;}
/*end fram work*/