/*start global*/
*{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body{
 
}
.container{
 width: 1200px;
 margin: auto;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
/*End global*/

/*start navbar*/
.navbar{
    height: 0;
    color: #FFF;
    font-size: 20px;
    position: relative;
    z-index: 2;
}
.navbar .brand-name{
    float: left;
    width: 40%;
    text-transform: uppercase;
}
.navbar .links{
    float: left;
    width: 60%;
    margin-top: 15px;
}
.navbar .links li {
    display: inline-block;
    padding: 10px 0px;
    margin: 0px 10px;
    border-bottom: 2px solid transparent;
}
.navbar .links li.active,
.navbar .links li:hover{
    color: blue;
    border-bottom: 2px solid blue;
}
/*end navbar*/

/*start header*/
.header{
    background: url("../img/header.jpg.jpg");    
    position: relative;
      
}
.header .overlay{
    background-color: rgb(0, 0, 0,0.7);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        color: #FFF;
        z-index: 1;
}

.header .bx-wrapper {
    box-shadow: none;
    border: 0;
    height: 100% !important;
    background: none;
}
.header .bx-wrapper .bx-viewport{
   text-align: center;
   height: 100% !important;
    
}
.header .bxslider{
    height: 100%;
}
.header .bxslider li{
    display: block;
    height: 150px;
}

.header .bx-wrapper .bx-controls-direction a{
    text-indent: 0px;
    color: #FFF;
    text-decoration: none;
    font-weight: bolder;
    font-size: x-large;

}
.bxslider h2{
    font-size: 45px;
    font-weight: bolder;
}
.bxslider h2 span{
    color: honeydew;
}
.bxslider p{
    font-size: 19px;
}

/*end header*/

















/*start framwork*/
.clearfix{
    clear: both;
}
/*end framwork*/